<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720904753026-0car3tgg1i32hvvo6u9rf81qdps34kqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720904753026-0car3tgg1i32hvvo6u9rf81qdps34kqs</string>
	<key>API_KEY</key>
	<string>AIzaSyAHETFcCx0GpHM50YvAzU80dpoy0-H-cHg</string>
	<key>GCM_SENDER_ID</key>
	<string>720904753026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sentryDemo</string>
	<key>PROJECT_ID</key>
	<string>crashlytics-demo-fd099</string>
	<key>STORAGE_BUCKET</key>
	<string>crashlytics-demo-fd099.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:720904753026:ios:99584f982be00fef4f499b</string>
</dict>
</plist>
